* {
    margin: 0;
}

body {
    min-height: 100vh;

    border: 30px solid #ffede1;
    background: #afcbff;
    box-sizing: border-box;

    display: flex;
    align-items: center;
    justify-content: center;

    font-size: 18px;
    font-weight: bold;
}
